name: Установка Docker и запуск Redis

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

env:
  REDIS_CONTAINER_NAME: my-redis-instance

jobs:
  run-redis-setup:
    runs-on: ubuntu-latest
    
    steps:
      - name: Шаг 3: Установка Docker на Ubuntu
        run: |
          sudo apt update
          sudo apt install apt-transport-https ca-certificates curl gnupg lsb-release -y
          curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo gpg --dearmor -o /usr/share/keyrings/docker-archive-keyring.gpg
          echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/docker-archive-keyring.gpg] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable" | sudo tee /etc/apt/sources.list.d/docker.list > /dev/null
          sudo apt update
          sudo apt install docker-ce docker-ce-cli containerd.io -y
          sudo docker run hello-world
          sudo usermod -aG docker $USER || true
          newgrp docker || true

      - name: Шаг 4: Запуск Redis в Docker
        run: |
          docker pull redis
          docker run -d --name ${{ env.REDIS_CONTAINER_NAME }} -p 6379:6379 redis
          sleep 5
          docker ps
          docker exec -it ${{ env.REDIS_CONTAINER_NAME }} redis-cli ping
          
      - name: Очистка
        if: always()
        run: |
          docker stop ${{ env.REDIS_CONTAINER_NAME }} || true
          docker rm ${{ env.REDIS_CONTAINER_NAME }} || true
